@import "./abstracts/_variavles.scss";

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  box-sizing: inherit;
  letter-spacing: inherit;
  word-break: inherit;
  color: inherit;
}

html {
  // font-family: $font-name, sans-serif;
  font-family: 'Crimson Text','SourceHanSerifKR', 돋움, Dotum, sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  box-sizing: border-box;
  overflow: scroll;
  letter-spacing: -0.01em;
  word-break: break-all;
  color: #333;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 320px) {
  html {
      font-size: 56.25%;
  }
}
@media (min-width: 376px) {
  html {
      font-size: 68.75%; 
  }
}
@media (min-width: 1024px) {
  html {
      font-size: 62.5%;
  }
}

dl,
ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

i, b, em, strong, address, caption, cite, code, dfn, em, var {
  font-style: normal;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
  &:focus {
    outline: none;
  }
}

img {
  display: block;
  width: 100%;
}

button {
  // display: block;
  // width: 100%;
  border: 0;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

input, textarea, select {
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  &:disabled {
      opacity: 1; //사파리에서 초기화 필요
  }
}
